.cache
.bash_history
.gitconfig
.ssh
.local
.pki
.config/menus
.config/chromium
Downloads/
.config/dconf/
.gnupg/
.Xauthority
.config/sublime-text-3/
.lesshst
.viminfo
tmp/
.gnome/
.codeintel/
.cargo/
Documents

